@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body{
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
}
.content{
  margin-top: 123px;
  margin-bottom: 108px;
}
.header{
  width: 100%;
  background-color: #CF2B2B;
  color: white;
  height: 92px;
  padding-left: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  left: 0px;
	top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 3;
}

.header h1{
  font-family: 'Righteous', cursive;
  font-size: 44px;
}
.header p{
  font-size: 18px;
}
h2{
  font-family: 'Righteous', cursive;
  font-size: 26px;
  color: #333333;
}

.prato{

  padding-left: 19px;
  margin-bottom: 27px;
}

.container_prato{
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;

}
.opcao_prato{
  border-radius: 9px;
  margin-right: 16px;
  background-color: white;
  height: 216px;
  width: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
  border: 5px solid white;
  position: relative;
}
.aux{
  width: 172px;
}

.check{
  display: none;
  position: absolute;
  right: 9px;
  bottom: 9px;
}

h3{
  font-weight: 700;
  font-size: 16px;
  color: #333333;
}

.legenda{
  margin-top: 8px;

  width: 144px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-weight: 300;
  font-size: 15px;
  color: #A6A6A6;
}

.preco{
  font-weight: 400;
  font-size: 16px;
  color: black;
}

.finalizar_pedido{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0px;
}

button{
  width: 364px;
  height: 61px;
  border-radius: 50px;
  background-color: #CBCBCB;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_text{
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 20px;
  width: 190px;
}